@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro", "Noto Sans SC",
    sans-serif;
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

:target {
  scroll-margin-top: 72px; /* 根据你的顶栏高度调整这个值 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body.light {
  @apply bg-neutral-100;
}

body.dark {
  @apply bg-gray-900;
}

.color-body {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-footer {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-card {
  @apply bg-white transition-all duration-300 ease-apple dark:bg-slate-800;
}

.backdrop-blur-bg {
  backdrop-filter: saturate(180%) blur(20px);
}

.backdrop-blur-mask {
  backdrop-filter: saturate(150%) blur(5px);
}

.transition-apple {
  @apply transform-gpu transition-all duration-300 ease-apple;
}

.top-navbar-wrapper {
  @apply fixed z-[100] w-full pt-2 px-4 xl:px-0 transition-apple;
}

.top-navbar {
  @apply flex flex-col items-center align-middle backdrop-blur-bg m-auto max-w-[1024px] min-h-[48px] rounded-2xl p-0 drop-shadow-2xl transition-apple will-change-scroll;
}

.top-navbar-btn {
  @apply btn-circle relative text-lg h-8 w-6 flex items-center text-white/80 hover:text-white;
}

/*.side-navbar{*/
/*  @apply z-20 sticky h-[calc(100vh-64px)] top-[64px] overflow-y-auto overflow-x-hidden flex flex-col transition-apple;*/
/*  @apply w-full max-w-full xl:max-w-[240px] p-4;*/
/*}*/
.side-navbar {
  @apply fixed z-20 top-0 left-0 w-screen h-screen px-4 pb-4 pt-[72px] overflow-y-auto overflow-x-hidden flex flex-col transition-apple;
  @apply xl:sticky xl:top-[64px] xl:h-[calc(100vh-64px)] xl:max-w-[240px] xl:pt-4;
}

.px-content {
  @apply px-4 pb-4 xl:px-8 xl:pb-8;
}
