@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*  outline: 1px solid tomato;*/
/*}*/

:root {
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
}

body {
  @apply transition-all duration-300 ease-apple;
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro", "Noto Sans SC",
    sans-serif;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, "JetBrains Mono", monospace;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "JetBrains Mono", monospace;
}

.gsc-main {
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro", "Noto Sans SC",
    sans-serif !important;
}

.gsc-reactions-count {
  font-family: -apple-system, BlinkMacSystemFont, SFProDisplay-Regular, "PingFang SC", "Myriad Pro", "Noto Sans SC",
    sans-serif !important;
}

body.light {
  @apply bg-neutral-100;
}

body.dark {
  /*@apply bg-gray-900;*/
  @apply bg-black;
}

:target {
  scroll-margin-top: 72px; /* 根据你的顶栏高度调整这个值 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-image {
  @apply fixed inset-0 object-cover blur-3xl -z-50 w-screen h-screen;
}

.color-body {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-footer {
  @apply bg-neutral-100 transition-all duration-300 ease-apple dark:bg-gray-900;
}

.color-card {
  @apply bg-white transition-all duration-300 ease-apple dark:bg-slate-800;
}

@layer utilities {
  .transition-apple {
    @apply transform-gpu transition-all duration-300 ease-apple;
  }
}

.backdrop-blur-bg {
  backdrop-filter: saturate(180%) blur(24px);
}

.backdrop-blur-mask {
  backdrop-filter: saturate(150%) blur(10px);
}

.main-container {
  @apply flex-grow w-full xl:max-w-[1024px] fhd:max-w-[1280px] px-content mt-[80px] pb-8;
}

.top-navbar-wrapper {
  @apply pointer-events-none fixed z-[100] w-full pt-2 px-4 xl:px-0;
}

.top-navbar {
  @apply pointer-events-auto m-auto p-0 flex flex-col items-center align-middle rounded-2xl drop-shadow-2xl;
  @apply xl:max-w-[1024px] fhd:max-w-[1280px] min-h-[48px];
  @apply backdrop-blur-xl backdrop-saturate-150;
}

.top-navbar-btn {
  @apply btn btn-sm btn-ghost rounded-xl text-base font-normal outline-transparent border-none;
  @apply transform-gpu transition-all duration-300 ease-apple text-white/80 hover:text-white;
}


.side-navbar {
  @apply fixed z-[90] w-screen h-screen pb-[calc(100vh-100dvh)] overflow-y-auto overflow-x-clip flex flex-col transition-apple;
  @apply px-8 xl:px-4 pb-4 pt-[72px] xl:sticky xl:top-[64px] xl:h-[calc(100vh-64px)] xl:max-w-[240px] xl:pt-[20px];
  @apply backdrop-blur-bg xl:backdrop-blur-none bg-white/50 dark:bg-black/50 xl:bg-transparent dark:xl:bg-transparent;
  @apply xl:opacity-70 xl:hover:opacity-100;
}

.px-content {
  @apply px-8 xl:px-4;
}

.-mx-content {
  @apply -mx-8 xl:-mx-4;
}

.card {
  @apply bg-white/75 hover:bg-white/90 dark:bg-zinc-900/70 hover:dark:bg-zinc-800/70;
  @apply outline outline-2 outline-black/5 hover:outline-black/10 dark:outline-white/10 dark:hover:outline-white/20;
  @apply rounded-3xl transition-apple drop-shadow-lg hover:drop-shadow-2xl;
  /*box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
}

.black-corner-top-left {
  z-index: 180;
  position: fixed;
  pointer-events: none;
  top: -0.08rem;
  left: -0.08rem;
  width: 3rem;
  height: 3rem;
  background-size: 100% 100%;
  background: radial-gradient(circle at 3.1rem 3.1rem, transparent 3rem, black 3.1rem) 50% 50%;
}

.black-corner-top-right {
  z-index: 180;
  position: fixed;
  pointer-events: none;
  top: -0.08rem;
  right: -0.08rem;
  width: 3rem;
  height: 3rem;
  background-size: 100% 100%;
  background: radial-gradient(circle at calc(100% - 3.1rem) 3.1rem, transparent 3rem, black 3.1rem) 50% 50%;
}

.black-corner-bottom-left {
  z-index: 180;
  position: fixed;
  pointer-events: none;
  bottom: -0.08rem;
  left: -0.08rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(circle at 3.1rem calc(100% - 3.1rem), transparent 3rem, black 3.1rem);
}

.black-corner-bottom-right {
  z-index: 180;
  position: fixed;
  pointer-events: none;
  bottom: -0.08rem;
  right: -0.08rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(circle at calc(100% - 3.1rem) calc(100% - 3.1rem), transparent 3rem, black 3.1rem);
}

body {
  --scroll-percentage: 0%;
}

.gradient-bar {
  @apply pointer-events-none absolute top-0 left-0 w-full h-full rounded-2xl -z-10 will-change-scroll;
  /*background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(82, 82, 82, 0.8), rgba(0, 0, 0, 0.7));*/
  /*background: linear-gradient(*/
  /*  to right,*/
  /*  rgba(0, 0, 0, 0.7) calc(var(--scroll-percentage) * 0.75 - 10%),*/
  /*  rgba(82, 82, 82, 0.8) var(--scroll-percentage),*/
  /*  rgba(0, 0, 0, 0.7) var(--scroll-percentage)*/
  /*);*/
}

.hero-title {
  @apply text-[3rem] sm:text-[4rem] md:text-[7rem] lg:text-[8rem] leading-none transition-apple opacity-80 hover:opacity-100;
}

.spinner {
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffffff 94%, #0000) top/3.5px 3.5px no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3.5px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.text-btn {
  @apply btn btn-ghost -ml-2 px-2 rounded-xl text-base font-normal leading-normal outline-transparent border-none;
}

@screen xl {
  .my-swiper {
    @apply rounded-2xl;
    /*mask-image: linear-gradient(*/
    /*  to right,*/
    /*  rgba(0, 0, 0, 0),*/
    /*  rgba(0, 0, 0, 1) 48px,*/
    /*  rgba(0, 0, 0, 1) calc(100% - 48px),*/
    /*  rgba(0, 0, 0, 0)*/
    /*);*/
    /*-webkit-mask-image: linear-gradient(*/
    /*  to right,*/
    /*  rgba(0, 0, 0, 0),*/
    /*  rgba(0, 0, 0, 1) 48px,*/
    /*  rgba(0, 0, 0, 1) calc(100% - 48px),*/
    /*  rgba(0, 0, 0, 0)*/
    /*);*/
  }
}

.homepage-gallery .carousel-item {
  /* 你的样式规则 */
}
