.prose-article {
  @apply prose prose-slate w-full min-w-0 max-w-none transition-all duration-300 ease-apple dark:prose-invert;
  @apply text-slate-700 dark:text-slate-300;
  /*@apply prose prose-slate w-full min-w-0 max-w-[960px] transition-all duration-300 ease-apple dark:prose-invert prose-h1:leading-normal prose-h2:leading-normal prose-h3:leading-normal prose-h4:leading-normal prose-a:text-sky-600 hover:prose-a:underline prose-blockquote:text-slate-600 prose-code:text-base prose-code:text-slate-700 prose-pre:m-0 prose-pre:p-0 dark:prose-a:text-sky-400 dark:prose-blockquote:text-slate-400 dark:prose-code:text-slate-300 xl:prose-code:text-lg;*/
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.prose-article .h0 {
  @apply my-4 text-5xl font-bold text-slate-900 dark:text-white;
}

.prose-article h1 {
  @apply my-2 text-4xl font-semibold text-slate-900 dark:text-white;
}

.prose-article h2 {
  @apply my-2 text-4xl font-semibold text-slate-900 dark:text-white;
}

.prose-article a {
  @apply transition-all duration-300 ease-apple no-underline hover:underline text-sky-700 hover:text-sky-500 dark:text-sky-400 dark:opacity-90 dark:hover:opacity-100;
}

.prose-article caption {
  @apply text-sm text-slate-600 dark:text-slate-400;
}

.prose-article code,
.prose-article pre {
  @apply font-mono text-base leading-tight text-slate-700 dark:text-slate-300;
}

.prose-article-card {
  @apply prose dark:prose-invert prose-slate max-w-none transition-all duration-300 ease-apple;
  @apply text-base text-slate-700 dark:text-slate-300;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.prose-article-card .h0 {
  @apply my-4 text-5xl font-bold text-slate-900 dark:text-white;
}

.prose-article-card h1 {
  @apply my-2 text-4xl font-semibold text-slate-900 dark:text-white;
}

.prose-article-card h2 {
  @apply my-2 text-4xl font-semibold text-slate-900 dark:text-white;
}

.prose-article-card a {
  @apply transition-all duration-300 ease-apple no-underline hover:underline hover:text-sky-600 dark:hover:text-sky-300;
}

.prose-article-card p,
.prose-article-card span,
.prose-article-card div {
  @apply text-base text-slate-700 dark:text-slate-300;
}

.prose-article-card caption {
  @apply text-sm text-slate-600 dark:text-slate-400;
}

.prose-article-card code,
.prose-article-card pre {
  @apply font-mono text-base leading-tight text-slate-700 dark:text-slate-300;
}

.text-body {
  @apply text-base font-normal;
}

.text-caption {
  @apply text-sm;
}

.text-h0 {
  @apply text-5xl font-bold leading-normal;
}

.text-h1 {
  @apply text-4xl font-semibold leading-normal;
}

.text-href {
  @apply no-underline hover:underline hover:text-sky-600 dark:hover:text-sky-300;
}

.text-color-body {
  @apply text-slate-700 dark:text-slate-300;
}

.text-color-caption {
  @apply text-slate-600 dark:text-slate-400;
}

.text-color-headings {
  @apply text-slate-900 dark:text-white;
}

.text-color-href {
  @apply text-sky-800 hover:text-sky-600 dark:text-sky-300 dark:opacity-80 dark:hover:opacity-100;
}

/*.hover-text-color-href {*/
/*    @apply text-sky-800 hover:text-sky-600 dark:text-sky-300 dark:hover:text-sky-300;*/
/*}*/
