.embla {
    --slide-height: 300px;
    --slide-spacing: 1rem;
    --slide-size: 90%;
}
.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    /*margin-left: calc(var(--slide-spacing) * -1);*/
}
/*.embla__slide {*/
/*    flex: 0 0 var(--slide-size);*/
/*    min-width: 0;*/
/*    padding-left: var(--slide-spacing);*/
/*}*/

.embla__slide {
    flex: 1 1 auto;
    min-width: 0;
    padding-left: var(--slide-spacing);
    width: auto;
    max-width: var(--slide-size);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.embla__slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}